@media (max-width: 600px) {
	
	h1 {
		font-size: 30px;
	}

	.carta {
		position: relative;
		width: 80px;
		left: 70px;
		margin-left: -45px;
	}

	#computadora-cartas, #jugador-cartas {
		height: 120px;
	}
	
	#botonNuevo, #botonPedir, #botonDetener {
		height: 42px;
		font-size: 20px;
		text-align: center;
	}

	#botones {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.titulo {
		width: 100%;
		font-size: 30px;
		padding: 10px;
		text-align: center;
	}

}
